<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>>, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"  />
    <title>Document</title>

    <style> 
     .midText 
     { text-align: center; 
    background-color: blanchedalmond; border: 0ch; padding: auto; background: fixed; background-image: -moz-radial-gradient();
    
} 
    </style>
</head>
<body class="flex items-center justify-center min-h-screen">
    <h1 class="midText"> Login Page</h1>
    <div class="midText">
        <form action="/users/login" method ="post">
            <div>
                <input type="email" id="email" name="email" placeholder="Email" required>  
            </div>

            <div>
                <input type="password" id="password" name="password" placeholder="Password" required>  
            </div>

            <div>
                <input type="submit" value="Login">
            </div>
            <a href="/users/register"> Not Registered? registered Now</a>
        

        </form>
    </div>
</body>
</html>